.singleProduct--section {
  background-color: white;



  .productPicture--innerBox {
    padding: 50px 10px 50px 10px;
    background-color: white;
  }

  .form-box{
    background-color: white;
    padding-bottom: 50px;
  }

  .sglPageProd-picture{
    margin: 0 20px 0 20px;
  }

  #color{
    background-color: white;
    margin: 0 20px 0 20px;
  }
}