.header--header{ /*BEM*/



  h1{
    font-size:3rem;
    background: #e8b297;
    &::before{
      content: "";
      display: inline-block;
      width: 100%;
      height: 100px;
      background: url("../../static/images/FeelingHome.png") no-repeat center/contain;
    }
  }

}

