.header--header {

  display: inline-block;
  @media (min-width: 700px) {
    display: flex;
    justify-content: space-around;

  }

  .logo{
    margin-top: 10px;
    font-size:3rem;
    background: white;
    content: "";
    width: 150px;
    height: 100px;
    background: url("../../static/images/FeelingHome.png") no-repeat center/contain;

  }
}

